@font-face {
    font-family: "Addington";
    src: url(font/AddingtonCF-BoldItalic.otf) format("truetype");
  }
  @font-face {
    font-family: "Wensley";
    src: url(font/Wensley-Regular.ttf) format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Hypersion";
    src: url(font/Hyperion\ Bold.otf) format("truetype");
    font-weight: bold;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1a2980; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #8426d0,
      #1a2980
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #8c26d0,
      #1a2980
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  h1 {
    font-size: 6em;
    font-family: "Addington", sans-serif;
    font-weight: bold;
  }
  
  h2 {
    font-family: "Wensley", sans-serif;
    font-size: 2em;
  }
  h1,
  h2 {
    margin: 0;
    color: #fff;
  }
  p {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 50%;
    text-align: center;
    color: #fff;
  }